<div class="nav-container" id="quick-navigation">
  <h2>Quick Navigation</h2>
  <ul class="quick-navigation">
    <li *ngFor="let list of topTenLists; let i = index">
      <a (click)="scrollTo('list' + i)">{{ list.title }}</a>
    </li>
  </ul>
</div>

<div *ngFor="let list of topTenLists; let i = index">
  <div class="top-ten-list-container" id="list{{ i }}">
    <h1 class="top-ten-title">{{ list.title }}</h1>
    <div class="back-to-top">
      <a (click)="scrollTo('quick-navigation')">Back to Quick Navigation</a>
    </div>
    <div class="top-ten-items">
      <div
        *ngFor="let item of list.items; let j = index"
        class="top-ten-item"
        id="item{{ i }}_{{ j }}"
      >
        <h2 class="item-number">{{ j + 1 }}</h2>
        <h2 class="item-title">{{ item.title }}</h2>
        <p class="item-description">{{ item.description }}</p>
        <div class="item-links">
          <a
            *ngIf="item.link"
            class="item-link item-link-generic"
            href="{{ item.link }}"
            target="_blank"
          >
            Visit Website
          </a>
          <a
            *ngIf="item.amazonLink"
            class="item-link item-link-amazon"
            href="{{ item.amazonLink }}"
            target="_blank"
          >
            Check on Amazon
          </a>
          <a
            *ngIf="item.lazadaLink"
            class="item-link item-link-lazada"
            href="{{ item.lazadaLink }}"
            target="_blank"
          >
            Check on Lazada
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr *ngIf="i < topTenLists.length - 1" />
</div>
